<nav class="hide-on-desktop">
  <ul>
    {{#link-to 'index' tagName='li'}}
      <span class="glyphicon glyphicon-chevron-left"></span>
      {{link-to 'Back' 'index'}}
    {{/link-to}}
  </ul>
</nav>

<section class="content">
  <h2 class="hide-on-mobile">About</h2>
  <br class="hide-on-mobile">
  <p>
    My name is Sam. I'm a programmer from Ottawa, Canada who focuses on user
    interface development for web applications. I'm also an avid headphone and
    video game nerd, and sometimes a terrible pedant. You'll find me online as
    csand<sup>*</sup> in most cases.
  </p>
  <br class="hide-on-mobile">
  <p class="muted">
    * Just pretend the c isn't there, it's really hard to get a cool username
    with the last name Anderson.
  </p>
</section>
